body {
  background: rgb(230, 228, 228);
  margin-top: 100px;
}

h1
{
  text-align: center;
  margin-top: 100px;
}

p
{
  text-align: center;
  margin-top: 25px;
}

div.container4 {
  margin-top: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80em;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}